*
{
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body
{
    font-family: monospace;
    background-color: #c0c0c0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button
{
    background-color: #c0c0c0;
}

#game-container
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 50px auto;

    width: min-content;

    border-width: 5px;
    border-style: solid;
    border-color: #ffffff #808080 #808080 #ffffff;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#controls
{
    display: flex;
    justify-content: space-between;
    padding: 4px;

    border-width: 2px;
    border-style: solid;
    border-color: #808080 #ffffff #ffffff #808080;

    margin-bottom: 15px
}

#timer,
#flags
{
    font-weight: bold;
}

#reset-button
{
    border: none;
    background-color: #c0c0c0;
    background-image: url('assets/reset.png');
    width: 24px;
    height: 24px;
}

#reset-button:before
{
    content: "";
    display: block;
    padding: 10px 10px;
    margin: -6px;
    line-height: 7px;

    border-width: 2px;
    border-style: solid;
    border-color: #ffffff #808080 #808080 #ffffff;
}

#reset-button:active:before
{
    border-color: #808080 #c0c0c0 #c0c0c0 #808080;
}

#game-field
{
    display: grid;
    grid-template-columns: repeat(10, 16px);
    grid-template-rows: repeat(10, 16px);
    width: fit-content;

    border-width: 2px;
    border-style: solid;
    border-color: #808080 #ffffff #ffffff #808080;
}

.counter
{
    display:flex;
    border-width: 1px;
    border-style: solid;
    border-color: #808080 #ffffff #ffffff #808080;
}

.cell
{
    width: 16px;
    height: 16px;

    background-color: #c0c0c0;
}

.cell:before
{
    content: "\a0";
    display: block;
    padding: 1px 0;
    line-height: 10px;

    border-width: 2px;
    border-style: solid;
    border-color: #ffffff #808080 #808080 #ffffff;
    display: block;
}

.done .flag:not(.mine):before,
.done .mine:not(.flag):before,
.revealed:before,
.cell:active:not(.flag):before
{
    border-color: #808080 #c0c0c0 #c0c0c0 #808080;
}

.mine.revealed
{
    background-color: #ff0000;
}

.mine.revealed:before,
.mine.revealed:active:before
{
    border-right-color: #ff0000 !important;
    border-bottom-color: #ff0000 !important;

}

.done .flag
{
    background-image: url('assets/nomine.png');
}

.flag,
.done .flag.mine
{
    background-image: url('assets/flag.png');
}

.done .mine
{
    background-image: url('assets/mine.png');
}

.number-1.revealed
{
    background-image: url('assets/1.png');
}

.number-2.revealed
{
    background-image: url('assets/2.png');
}

.number-3.revealed
{
    background-image: url('assets/3.png');
}

.number-4.revealed
{
    background-image: url('assets/4.png');
}

.number-5.revealed
{
    background-image: url('assets/5.png');
}

.number-6.revealed
{
    background-image: url('assets/6.png');
}

.number-7.revealed
{
    background-image: url('assets/7.png');
}

.number-8.revealed
{
    background-image: url('assets/8.png');
}

.digit
{
    width: 13px;
    height: 23px;
}

.digit-0
{
    background-image: url('assets/counter0.png');
}

.digit-1
{
    background-image: url('assets/counter1.png');
}

.digit-2
{
    background-image: url('assets/counter2.png');
}

.digit-3
{
    background-image: url('assets/counter3.png');
}

.digit-4
{
    background-image: url('assets/counter4.png');
}

.digit-5
{
    background-image: url('assets/counter5.png');
}

.digit-6
{
    background-image: url('assets/counter6.png');
}

.digit-7
{
    background-image: url('assets/counter7.png');
}

.digit-8
{
    background-image: url('assets/counter8.png');
}

.digit-9
{
    background-image: url('assets/counter9.png');
}
