/* Фон страницы */
body {
    font-family: Arial, sans-serif;
    background: #ffffff;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Контейнер игры */
.game-container {
    text-align: center;
    padding: 20px;
    background: #e0e0e0; 
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.settings {
    margin-bottom: 15px;
}

.settings input {
    width: 50px;
    padding: 4px;
    margin: 0 5px;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

#game-board {
    display: grid;
    gap: 2px;
    justify-content: center;
    margin: 20px auto;
}

/* Клетки */
.cell {
    width: 35px;
    height: 35px;
    background-color: #fff27a; 
    border: 2px solid #ffe135; 
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    user-select: none;
    transition: all 0.1s;
}

.cell:hover {
    background-color: #ffec6f; 
}

.cell.revealed {
    background-color: #fffdb4; 
    border: 2px solid #ffe135;
    cursor: default;
}

.cell.bomb {
    background-color: rgba(255, 0, 200, 0.993);
    color: white;
    font-size: 20px;
}

.cell.flagged {
    background-color: #ddd;
    font-size: 20px;
}

/* Number colors */
.number1 { color: blue; }
.number2 { color: green; }
.number3 { color: red; }
.number4 { color: navy; }
.number5 { color: brown; }
.number6 { color: turquoise; }
.number7 { color: black; }
.number8 { color: skyblue; }


button {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #45a049;
}
#new-game {
    transition: box-shadow 0.3s ease, transform 0.2s ease; 
}
/* Белая подсветка только для кнопки New Game */
#new-game:hover
{
    box-shadow: 0 0 20px 8px rgba(255, 255, 255, 1), 
    0 0 30px 12px rgba(255, 255, 255, 0.5);
transform: scale(1.05); 
}    